In [62]:
import requests
import datetime
import pandas as pd
pd.set_option('display.min_rows', 30)

In [93]:
# 總覽

url = "https://api.finmindtrade.com/api/v4/data"
parameter = {
    "dataset": "TaiwanStockInfo"
}
resp = requests.get(url, params=parameter)
data = resp.json()
data = pd.DataFrame(data["data"])
data

     industry_category                stock_id stock_name  type        date
0                  ETF                    0050     元大台灣50  twse  2022-12-05
1                  ETF                    0051    元大中型100  twse  2022-12-05
2                  ETF                    0052       富邦科技  twse  2022-12-05
3                  ETF                    0053       元大電子  twse  2022-12-05
4                  ETF                    0054     元大台商50  twse  2022-12-05
5                  ETF                    0055   元大MSCI金融  twse  2022-12-05
6                  ETF                    0056      元大高股息  twse  2022-12-05
7                  ETF                    0057       富邦摩台  twse  2022-12-05
8                  ETF                    0058       富邦發達  twse  2022-12-05
9                  ETF                    0059       富邦金融  twse  2022-12-05
10                 ETF                    0060        新台灣  twse  2022-12-05
11                 ETF                    0061      元大寶滬深  twse  2022-12-05
12      上櫃指數股票型基金(ETF)                  006201     元大富櫃50  tpex  2022-12-05
13                 ETF                  006203   元大MSCI台灣  twse  2022-12-05
14                 ETF                  006204     永豐臺灣加權  twse  2022-12-05
...                ...                     ...        ...   ...         ...
2947             Index               IronSteel      鋼鐵類指數  twse        None
2948             Index       OilGasElectricity    油電燃氣類指數  twse        None
2949             Index          Optoelectronic      光電類指數  twse        None
2950             Index                   Other      其他類指數  twse        None
2951             Index         OtherElectronic    其他電子類指數  twse        None
2952             Index               PaperPulp      造紙類指數  twse        None
2953             Index                Plastics      塑膠類指數  twse        None
2954             Index                  Rubber      橡膠類指數  twse        None
2955             Index           Semiconductor     半導體類指數  twse        None
2956             Index  ShippingTransportation     航運業類指數  twse        None
2957                大盤                   TAIEX       加權指數  twse        None
2958             Index                Textiles    紡織纖維類指數  twse        None
2959             Index                 Tourism    觀光事業類指數  twse        None
2960                大盤                    TPEx       櫃買指數  tpex        None
2961             Index   TradingConsumersGoods    貿易百貨類指數  twse        None

[2962 rows x 5 columns]

In [85]:
import datetime
today = datetime.date.today() # 取得今天的日期
print(today)

2022-12-06

In [94]:
# finmind 比 twstock、yfinance更全面完整

# 個股每日價格
# 日期 股價代碼 成交量 成交金額 開盤價 最高價 最低價 收盤價 漲跌幅(不太準) 交易筆數

url = "https://api.finmindtrade.com/api/v4/data"
parameter = {
    "dataset": "TaiwanStockPrice",
    "data_id": "0050",
    "start_date": "2012-01-01",
    "end_date": today
}
r = requests.get(url, params=parameter)
data = r.json()
stock_deal_info = data["data"]
pd.DataFrame(stock_deal_info)

,date,stock_id,Trading_Volume,Trading_money,open,max,min,close,spread,Trading_turnover
0,2012-01-02,0050,11331613,556761325,49.45,49.60,48.94,49.06,-0.75,3354
1,2012-01-03,0050,19461977,968039469,49.50,49.95,49.40,49.70,0.64,4056
2,2012-01-04,0050,23080541,1153014500,49.90,50.15,49.78,50.00,0.30,3962
3,2012-01-05,0050,21097923,1055241766,50.10,50.15,49.91,50.15,0.15,2806
4,2012-01-06,0050,28343880,1418225293,50.10,50.25,49.85,50.00,-0.15,2878
5,2012-01-09,0050,14067965,700803447,49.90,49.95,49.63,49.81,-0.19,1838
6,2012-01-10,0050,29305530,1480714650,50.20,50.70,50.20,50.70,0.89,5600
7,2012-01-11,0050,13541792,686837020,50.70,50.80,50.60,50.65,-0.05,2539
8,2012-01-12,0050,18821732,954956625,50.70,50.85,50.50,50.75,0.10,3455
9,2012-01-13,0050,39263092,2004901637,51.15,51.25,50.75,50.85,0.10,7166
10,2012-01-16,0050,28879651,1450782388,51.05,51.10,49.75,50.05,-0.80,4870
11,2012-01-17,0050,15798299,795641484,50.35,50.60,50.10,50.55,0.50,3024
12,2012-01-18,0050,12506827,631832184,50.55,50.75,50.30,50.40,-0.15,3124
13,2012-01-30,0050,34218903,1780542846,51.40,52.30,51.40,51.80,1.40,8214
14,2012-01-31,0050,20611434,1073539049,52.00,52.40,51.75,51.95,0.15,4022
...,...,...,...,...,...,...,...,...,...,...
2669,2022-11-16,0050,24251504,2780841398,115.00,115.75,113.85,114.50,-0.20,22139
2670,2022-11-17,0050,13741730,1563715421,113.95,114.65,112.85,114.55,0.05,12743
2671,2022-11-18,0050,10968139,1260274871,114.90,115.85,114.05,114.25,-0.30,9494
2672,2022-11-21,0050,8978435,1024589996,114.35,114.65,113.70,113.85,-0.40,8696
2673,2022-11-22,0050,5798244,662093232,113.40,115.00,113.05,114.80,0.95,7049
2674,2022-11-23,0050,8224840,950304384,115.65,115.90,115.05,115.60,0.80,8001
2675,2022-11-24,0050,15641447,1817903787,116.00,116.85,115.90,116.70,1.10,12365
2676,2022-11-25,0050,16343906,1907311237,116.65,116.95,116.35,116.70,0.00,11202
2677,2022-11-28,0050,15627449,1790790160,114.60,115.30,113.90,114.35,-2.35,19654
2678,2022-11-29,0050,10926996,1249914581,113.85,115.40,113.10,115.40,1.05,10582
2679,2022-11-30,0050,9535815,1105729102,115.10,116.40,114.85,116.35,0.95,7145
2680,2022-12-01,0050,25136792,2986426381,119.20,119.50,118.00,118.35,2.00,15943
2681,2022-12-02,0050,7796015,915125681,117.30,117.95,117.00,117.30,-1.05,9334
2682,2022-12-05,0050,12330303,1453977570,117.30,118.50,117.20,117.45,0.15,13386
2683,2022-12-06,0050,10637488,1233830310,116.80,116.80,115.20,115.30,-2.15,18014

In [58]:
# 個股當日逐筆成交(暫時不用)

url = "https://api.finmindtrade.com/api/v4/data"
parameter = {
    "dataset": "TaiwanStockPriceTick",
    "data_id": "2330",
    "start_date": "2022-11-30"
}
r = requests.get(url, params=parameter)
data = r.json()
stock_history_info = data["data"]
pd.DataFrame(stock_history_info)

            date stock_id  deal_price  volume             Time  TickType
0     2022-11-30     2330       483.0    2613  09:00:01.232123         1
1     2022-11-30     2330       482.5       6  09:00:01.320481         2
2     2022-11-30     2330       482.5       7  09:00:01.373515         2
3     2022-11-30     2330       482.5       1  09:00:01.391077         2
4     2022-11-30     2330       483.0       1  09:00:01.392868         1
5     2022-11-30     2330       483.0       1  09:00:01.394090         1
6     2022-11-30     2330       483.0       1  09:00:01.571815         1
...          ...      ...         ...     ...              ...       ...
7259  2022-11-30     2330       486.0       1  13:24:56.100525         2
7260  2022-11-30     2330       486.0       1  13:24:57.242294         2
7261  2022-11-30     2330       486.0      86  13:24:58.121247         2
7262  2022-11-30     2330       486.0       5  13:24:59.170367         2
7263  2022-11-30     2330       486.5       1  13:24:59.392329         1
7264  2022-11-30     2330       490.0   30778  13:30:00.000000         1
7265  2022-11-30     2330       490.0      91  14:30:00.000000         1

[7266 rows x 6 columns]

In [96]:
# 個股綜合損益表

url = "https://api.finmindtrade.com/api/v4/data"
parameter = {
    "dataset": "TaiwanStockFinancialStatements",
    "data_id": "2330",
    "start_date": "2021-06-01",
    "end_date": "2022-12-01"
}
r = requests.get(url, params=parameter)
data = r.json()
stock_income_statement = data["data"]
pd.DataFrame(stock_income_statement)

,date,stock_id,type,value,origin_name
0,2021-06-30,2330,OperatingExpenses,4.058342e+10,營業費用
1,2021-06-30,2330,TAX,1.490936e+10,所得稅費用（利益）
2,2021-06-30,2330,PreTaxIncome,1.493911e+11,稅前淨利（淨損）
3,2021-06-30,2330,IncomeFromContinuingOperations,1.344817e+11,繼續營業單位本期淨利（淨損）
4,2021-06-30,2330,IncomeAfterTaxes,1.344817e+11,本期淨利（淨損）
5,2021-06-30,2330,TotalConsolidatedProfitForThePeriod,1.242802e+11,本期綜合損益總額
6,2021-06-30,2330,Revenue,3.721451e+11,營業收入
7,2021-06-30,2330,CostOfGoodsSold,1.859110e+11,營業成本
8,2021-06-30,2330,RealizedGain,-3.731700e+07,已實現銷貨（損）益
9,2021-06-30,2330,OTHNOE,5.381000e+07,其他收益及費損淨額
10,2021-06-30,2330,OperatingIncome,1.456672e+11,營業利益（損失）
11,2021-06-30,2330,TotalNonoperatingIncomeAndExpense,3.723870e+09,營業外收入及支出
12,2021-06-30,2330,OtherComprehensiveIncome,-1.020154e+10,其他綜合損益（淨額）
13,2021-06-30,2330,EquityAttributableToOwnersOfParent,1.241577e+11,綜合損益總額歸屬於母公司業主
14,2021-06-30,2330,NoncontrollingInterests,1.224560e+08,綜合損益總額歸屬於非控制權益
...,...,...,...,...,...
83,2022-09-30,2330,TAX,3.572246e+10,所得稅費用（利益）
84,2022-09-30,2330,PreTaxIncome,3.166909e+11,稅前淨利（淨損）
85,2022-09-30,2330,IncomeFromContinuingOperations,2.809684e+11,繼續營業單位本期淨利（淨損）
86,2022-09-30,2330,IncomeAfterTaxes,2.809684e+11,本期淨利（淨損）
87,2022-09-30,2330,TotalConsolidatedProfitForThePeriod,3.130898e+11,本期綜合損益總額
88,2022-09-30,2330,Revenue,6.131427e+11,營業收入
89,2022-09-30,2330,CostOfGoodsSold,2.426440e+11,營業成本
90,2022-09-30,2330,OTHNOE,1.195900e+07,其他收益及費損淨額
91,2022-09-30,2330,OperatingIncome,3.103242e+11,營業利益（損失）
92,2022-09-30,2330,TotalNonoperatingIncomeAndExpense,6.366653e+09,營業外收入及支出
93,2022-09-30,2330,OtherComprehensiveIncome,3.212140e+10,其他綜合損益（淨額）
94,2022-09-30,2330,EquityAttributableToOwnersOfParent,3.128892e+11,綜合損益總額歸屬於母公司業主
95,2022-09-30,2330,NoncontrollingInterests,2.006080e+08,綜合損益總額歸屬於非控制權益
96,2022-09-30,2330,EPS,1.083000e+01,基本每股盈餘（元）
97,2022-09-30,2330,GrossProfit,3.704987e+11,營業毛利（毛損）

In [89]:
# 個股股利政策表

url = "https://api.finmindtrade.com/api/v4/data"
parameter = {
    "dataset": "TaiwanStockDividend",
    "data_id": "0050",
    "start_date": "2020-12-01"
}
r = requests.get(url, params=parameter)
data = r.json()
stock_dividend = data["data"]
pd.DataFrame(stock_dividend)

# 權利分派基準日 股票代碼 股利所屬年度 
# 股票股利：盈餘轉增資配股
# 股票股利：法定盈餘公積資本公積轉增資配股
# 除權交易日
# 員工配股
# 員工配股金額
# 配股總股數占盈餘配股總股數之比例
# 員工紅利配股率
# 現金股利：盈餘轉增資配股
# 現金股利：法定盈餘公積資本公積轉增資配股
# 除息交易日
# 現金股利發放日
# 員工紅利總金額
# 現金增資總股數
# 現金增資認股比率
# 現金增資認購價
# 董監酬勞
# 參加分派總股數
# 公告日期
# 公告時間

,date,stock_id,year,StockEarningsDistribution,StockStatutorySurplus,StockExDividendTradingDate,TotalEmployeeStockDividend,TotalEmployeeStockDividendAmount,RatioOfEmployeeStockDividendOfTotal,RatioOfEmployeeStockDividend,...,CashExDividendTradingDate,CashDividendPaymentDate,TotalEmployeeCashDividend,TotalNumberOfCashCapitalIncrease,CashIncreaseSubscriptionRate,CashIncreaseSubscriptionpRrice,RemunerationOfDirectorsAndSupervisors,ParticipateDistributionOfTotalShares,AnnouncementDate,AnnouncementTime
0,2021-01-30,0050,110,0.0,0.0,,0.0,0.0,0.0,0.0,...,2021-01-22,2022-06-09,0.0,0.0,0.0,0.0,0.0,0.0,,
1,2021-07-27,0050,110,0.0,0.0,,0.0,0.0,0.0,0.0,...,2021-07-21,2107-01-24,0.0,0.0,0.0,0.0,0.0,0.0,,
2,2022-01-29,0050,111,0.0,0.0,,0.0,0.0,0.0,0.0,...,2022-01-21,2022-03-04,0.0,0.0,0.0,0.0,0.0,0.0,,
3,2022-07-24,0050,111,0.0,0.0,,0.0,0.0,0.0,0.0,...,2022-07-18,2022-08-19,0.0,0.0,0.0,0.0,0.0,0.0,,

In [117]:
# 殖利率 本益比 股價淨值比

url = "https://api.finmindtrade.com/api/v4/data"
parameter = {
    "dataset": "TaiwanStockPER",
    "data_id": "2330",
    "start_date": "2022-04-01"
}
data = requests.get(url, params=parameter)
data = data.json()
if data['data'] == []:
    print('yes')
data = pd.DataFrame(data['data'])
data

           date stock_id  dividend_yield    PER   PBR
0    2022-04-01     2330            1.87  25.60  7.04
1    2022-04-06     2330            1.90  25.12  6.91
2    2022-04-07     2330            1.94  24.60  6.77
3    2022-04-08     2330            1.94  24.64  6.78
4    2022-04-11     2330            1.97  24.25  6.67
5    2022-04-12     2330            1.97  24.21  6.66
6    2022-04-13     2330            1.92  24.90  6.85
7    2022-04-14     2330            1.92  24.90  6.85
8    2022-04-15     2330            1.96  24.42  6.72
9    2022-04-18     2330            1.96  24.38  6.71
10   2022-04-19     2330            1.95  24.55  6.76
11   2022-04-20     2330            1.93  24.77  6.82
12   2022-04-21     2330            1.95  24.55  6.76
13   2022-04-22     2330            1.97  24.25  6.67
14   2022-04-25     2330            2.01  23.77  6.54
..          ...      ...             ...    ...   ...
156  2022-11-15     2330            2.29  14.04  4.55
157  2022-11-16     2330            2.26  14.24  4.61
158  2022-11-17     2330            2.27  14.18  4.59
159  2022-11-18     2330            2.26  14.24  4.61
160  2022-11-21     2330            2.28  14.09  4.56
161  2022-11-22     2330            2.24  14.36  4.65
162  2022-11-23     2330            2.24  14.39  4.66
163  2022-11-24     2330            2.22  14.50  4.70
164  2022-11-25     2330            2.21  14.56  4.72
165  2022-11-28     2330            2.29  14.05  4.55
166  2022-11-29     2330            2.26  14.24  4.61
167  2022-11-30     2330            2.24  14.33  4.64
168  2022-12-01     2330            2.21  14.58  4.72
169  2022-12-02     2330            2.23  14.40  4.66
170  2022-12-05     2330            2.25  14.30  4.63

[171 rows x 5 columns]

In [103]:
# 當沖

url = "https://api.finmindtrade.com/api/v4/data"
parameter = {
    "dataset": "TaiwanStockDayTrading",
    "data_id": "0050",
    "start_date": "2020-04-02",
    "end_date": "2022-12-01"
}
resp = requests.get(url, params=parameter)
data = resp.json()
data = pd.DataFrame(data["data"])
data

# 日期 可否當沖 成交量 買進金額 賣出金額

    stock_id        date BuyAfterSale   Volume  BuyAmount  SellAmount
0       0050  2020-04-06               1296000   99116100    99343200
1       0050  2020-04-07               1218000   95496050    95673350
2       0050  2020-04-08                846000   67045400    66908050
3       0050  2020-04-09               1238000   98306100    98337200
4       0050  2020-04-10                327000   25847800    25856650
5       0050  2020-04-13                415000   32753650    32760300
6       0050  2020-04-14                856000   68814200    68682400
7       0050  2020-04-15                731000   59401350    59403500
8       0050  2020-04-16                607000   48895500    48988750
9       0050  2020-04-17               1865000  155211650   155576200
10      0050  2020-04-20                310000   25763300    25772900
11      0050  2020-04-21               1269000  103608550   103085300
12      0050  2020-04-22                989000   79065900    79243500
13      0050  2020-04-23               2254000  182213650   183393900
14      0050  2020-04-24                340000   27479300    27490100
..       ...         ...          ...      ...        ...         ...
642     0050  2022-11-11               3739000  405697500   405924850
643     0050  2022-11-14               1664000  182684600   182834900
644     0050  2022-11-15               2696000  303530100   306230150
645     0050  2022-11-16               4631000  531121250   531055200
646     0050  2022-11-17               2186000  248546450   249324900
647     0050  2022-11-18               2036000  233984050   234010250
648     0050  2022-11-21                762000   86991650    86996650
649     0050  2022-11-22                611000   69706550    69722600
650     0050  2022-11-23                683000   78949200    78956800
651     0050  2022-11-24                807000   93786100    93851000
652     0050  2022-11-25                513000   59865700    59847000
653     0050  2022-11-28               1488000  170377200   170540550
654     0050  2022-11-29               1160000  132346000   132602050
655     0050  2022-11-30                769000   88989800    89034950
656     0050  2022-12-01               1757000  208150400   208982950

[657 rows x 6 columns]

In [ ]:
# 要知道除息日 要知道處分日期

In [104]:
# 融資融券

url = "https://api.finmindtrade.com/api/v4/data"
parameter = {
    "dataset": "TaiwanStockMarginPurchaseShortSale",
    "data_id": "0050",
    "start_date": "2020-04-01",
}
data = requests.get(url, params=parameter)
data = data.json()
data = pd.DataFrame(data['data'])
data

# 融資買進 融資現金償還 融資限額 融資賣出 融資今日餘額 融資昨日餘額 註記
# 資券互抵 融券買進 融券償還 融券限額 融券賣出 融券今日餘額 融券昨日餘額

,date,stock_id,MarginPurchaseBuy,MarginPurchaseCashRepayment,MarginPurchaseLimit,MarginPurchaseSell,MarginPurchaseTodayBalance,MarginPurchaseYesterdayBalance,Note,OffsetLoanAndShort,ShortSaleBuy,ShortSaleCashRepayment,ShortSaleLimit,ShortSaleSell,ShortSaleTodayBalance,ShortSaleYesterdayBalance
0,2020-04-01,0050,193,15,263750,163,3189,3174,,0,65,1,263750,13,2283,2336
1,2020-04-06,0050,156,6,264000,277,3062,3189,,11,31,0,264000,24,2276,2283
2,2020-04-07,0050,720,0,265375,458,3324,3062,,2,97,0,265375,15,2194,2276
3,2020-04-08,0050,233,0,265375,360,3197,3324,,3,64,0,265375,15,2145,2194
4,2020-04-09,0050,110,0,262875,206,3101,3197,,0,155,0,262875,4,1994,2145
5,2020-04-10,0050,82,36,261625,75,3072,3101,,1,13,0,261625,4,1985,1994
6,2020-04-13,0050,100,0,261625,226,2946,3072,,5,12,0,261625,12,1985,1985
7,2020-04-14,0050,88,2,261625,517,2515,2946,,3,47,0,261625,13,1951,1985
8,2020-04-15,0050,99,35,260375,129,2450,2515,,2,62,0,260375,27,1916,1951
9,2020-04-16,0050,92,2,260375,56,2484,2450,,3,53,1,260375,20,1882,1916
10,2020-04-17,0050,212,0,259625,812,1884,2484,,2,67,109,259625,18,1724,1882
11,2020-04-20,0050,93,0,259625,62,1915,1884,,30,35,1,259625,0,1688,1724
12,2020-04-21,0050,280,0,259625,143,2052,1915,,3,38,598,259625,0,1052,1688
13,2020-04-22,0050,414,3,255375,305,2158,2052,,2,36,0,255375,41,1057,1052
14,2020-04-23,0050,198,1,255375,178,2177,2158,,5,13,0,255375,26,1070,1057
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
645,2022-11-15,0050,402,7,572375,637,3771,4013,,6,50,0,572375,142,691,599
646,2022-11-16,0050,99,7,572625,419,3444,3771,,2,104,0,572625,58,645,691
647,2022-11-17,0050,86,0,572625,86,3444,3444,,11,50,0,572625,43,638,645
648,2022-11-18,0050,84,0,572625,142,3386,3444,,2,18,0,572625,31,651,638
649,2022-11-21,0050,47,5,571375,70,3358,3386,,1,21,0,571375,45,675,651
650,2022-11-22,0050,27,11,571375,142,3232,3358,,0,39,0,571375,38,674,675
651,2022-11-23,0050,85,0,571375,148,3169,3232,,0,39,0,571375,39,674,674
652,2022-11-24,0050,113,0,572750,134,3148,3169,,0,89,0,572750,21,606,674
653,2022-11-25,0050,26,8,572750,101,3065,3148,,1,3,0,572750,29,632,606
654,2022-11-28,0050,117,0,573000,43,3139,3065,,1,57,1,573000,44,618,632
655,2022-11-29,0050,54,1,574750,76,3116,3139,,9,32,0,574750,60,646,618
656,2022-11-30,0050,115,0,574750,143,3088,3116,,3,10,0,574750,36,672,646
657,2022-12-01,0050,192,40,575875,336,2904,3088,,14,116,0,575875,107,663,672
658,2022-12-02,0050,107,0,576625,58,2953,2904,,7,28,0,576625,10,645,663
659,2022-12-05,0050,58,30,577000,120,2861,2953,,1,7,0,577000,61,699,645

In [166]:
# 法人買賣

url = "https://api.finmindtrade.com/api/v4/data"
parameter = {
    "dataset": "TaiwanStockInstitutionalInvestorsBuySell",
    "data_id": "2330",
    "start_date": "2012-01-01",
}
data = requests.get(url, params=parameter)
data = data.json()
data = pd.DataFrame(data['data'])
data

             date stock_id       buy                 name      sell
0      2012-05-02     2330  38841300     Foreign_Investor  32897643
1      2012-05-02     2330    284000     Investment_Trust    272000
2      2012-05-02     2330   1774000               Dealer   1043000
3      2012-05-03     2330  19686790     Foreign_Investor  12947290
4      2012-05-03     2330    430000     Investment_Trust    491105
5      2012-05-03     2330    456000               Dealer    620000
6      2012-05-04     2330  22497836     Foreign_Investor  34115841
7      2012-05-04     2330    116000     Investment_Trust    272000
8      2012-05-04     2330    893000               Dealer    208000
9      2012-05-07     2330  17362889     Foreign_Investor  40872998
10     2012-05-07     2330    616000     Investment_Trust         0
11     2012-05-07     2330   1301000               Dealer    282000
12     2012-05-08     2330  14859000     Foreign_Investor  39342370
13     2012-05-08     2330    675000     Investment_Trust    272000
14     2012-05-08     2330   2025000               Dealer    679154
...           ...      ...       ...                  ...       ...
10997  2022-12-02     2330         0  Foreign_Dealer_Self         0
10998  2022-12-02     2330    153000          Dealer_self   1283300
10999  2022-12-02     2330    185000       Dealer_Hedging    995722
11000  2022-12-02     2330  14983285     Foreign_Investor  20926521
11001  2022-12-02     2330    258000     Investment_Trust    165206
11002  2022-12-05     2330         0  Foreign_Dealer_Self         0
11003  2022-12-05     2330    643000          Dealer_self    758900
11004  2022-12-05     2330     97000       Dealer_Hedging    353898
11005  2022-12-05     2330  18213304     Foreign_Investor  24118572
11006  2022-12-05     2330    300000     Investment_Trust    110000
11007  2022-12-06     2330         0  Foreign_Dealer_Self         0
11008  2022-12-06     2330     94000     Investment_Trust    242481
11009  2022-12-06     2330    380000          Dealer_self    938200
11010  2022-12-06     2330    258000       Dealer_Hedging    707881
11011  2022-12-06     2330  25572203     Foreign_Investor  32790609

[11012 rows x 5 columns]

In [163]:
# 把法人買賣格式做轉換，程式寫有夠醜，但懶得改

df = pd.DataFrame(columns = ['date', 'FI_buy', 'FI_sell', 'FDS_buy', 'FDS_sell', 'IT_buy', 'IT_sell', 'DS_buy', 'DS_sell', 'DH_buy', 'DH_sell'])
lastdate = ''
for index, row in data.iterrows():
    if not df.empty:
        
        # 同一天
        if row['date'] == lastdate:
            lastrow = len(df.index) - 1
            if row['name'] == 'Foreign_Investor':
                df.loc[lastrow, 'FI_buy'] = row['buy']
                df.loc[lastrow, 'FI_sell'] = row['sell']
            elif row['name'] == 'Foreign_Dealer_Self':
                df.loc[lastrow, 'FDS_buy'] = row['buy']
                df.loc[lastrow, 'FDS_sell'] = row['sell']
            elif row['name'] == 'Investment_Trust':
                df.loc[lastrow, 'IT_buy'] = row['buy']
                df.loc[lastrow, 'IT_sell'] = row['sell']
            elif row['name'] == 'Dealer_self' or row['name'] == 'Dealer':
                df.loc[lastrow, 'DS_buy'] = row['buy']
                df.loc[lastrow, 'DS_sell'] = row['sell']
            elif row['name'] == 'Dealer_Hedging':
                df.loc[lastrow, 'DH_buy'] = row['buy']
                df.loc[lastrow, 'DH_sell'] = row['sell']
            else:
                print('＃意料外的法人買賣選項')
            
        # 新的一天
        else:
            fi_b, fi_s, fds_b, fds_s, it_b, it_s, ds_b, ds_s, dh_b, dh_s = 0, 0, 0, 0, 0, 0, 0, 0, 0, 0
            if row['name'] == 'Foreign_Investor':
                fi_b = row['buy']
                fi_s = row['sell']
            elif row['name'] == 'Foreign_Dealer_Self':
                fds_b = row['buy']
                fds_s = row['sell']
            elif row['name'] == 'Investment_Trust':
                it_b = row['buy']
                it_s = row['sell']
            elif row['name'] == 'Dealer_self' or row['name'] == 'Dealer':
                ds_b = row['buy']
                ds_s = row['sell']
            elif row['name'] == 'Dealer_Hedging':
                dh_b = row['buy']
                dh_s = row['sell']
            else:
                print('＃意料外的法人買賣選項')

            lastdate = row['date']
            s = [row['date'], fi_b, fi_s, fds_b, fds_s, it_b, it_s, ds_b, ds_s, dh_b, dh_s]
            df.loc[len(df.index)] = s
            
    # 空資料表直接插入第一筆
    else:
        fi_b, fi_s, fds_b, fds_s, it_b, it_s, ds_b, ds_s, dh_b, dh_s = 0, 0, 0, 0, 0, 0, 0, 0, 0, 0
        if row['name'] == 'Foreign_Investor':
            fi_b = row['buy']
            fi_s = row['sell']
        elif row['name'] == 'Foreign_Dealer_Self':
            fds_b = row['buy']
            fds_s = row['sell']
        elif row['name'] == 'Investment_Trust':
            it_b = row['buy']
            it_s = row['sell']
        elif row['name'] == 'Dealer_self' or row['name'] == 'Dealer':
            ds_b = row['buy']
            ds_s = row['sell']
        elif row['name'] == 'Dealer_Hedging':
            dh_b = row['buy']
            dh_s = row['sell']
        else:
            print('＃意料外的法人買賣選項')
            
        lastdate = row['date']
        s = [row['date'], fi_b, fi_s, fds_b, fds_s, it_b, it_s, ds_b, ds_s, dh_b, dh_s]
        df.loc[len(df.index)] = s
        
df

,date,FI_buy,FI_sell,FDS_buy,FDS_sell,IT_buy,IT_sell,DS_buy,DS_sell,DH_buy,DH_sell
0,2020-04-01,458249,4492000,0,0,54000,0,0,0,2050000,905000
1,2020-04-06,1121000,893000,0,0,168000,0,16000,19000,2282000,3771000
2,2020-04-07,65100,2208000,0,0,129000,557000,100000,15000,3302000,1650000
3,2020-04-08,90100,86000,0,0,201000,325000,49000,0,5540000,2060000
4,2020-04-09,27000,1344001,0,0,82000,0,64000,15000,3204000,2480000
5,2020-04-10,214000,73000,0,0,66000,0,28000,0,356000,1757000
6,2020-04-13,143000,687000,0,0,106000,0,0,670000,871000,2193000
7,2020-04-14,2404036,34000,0,0,57000,0,0,10000,5702000,216000
8,2020-04-15,1745125,307000,0,0,28000,0,216000,2500000,6018000,2513000
9,2020-04-16,2692000,208000,0,0,35000,0,18000,61000,2747000,1562000
10,2020-04-17,18974059,46344,0,0,80000,0,1788000,93000,6270000,1834000
11,2020-04-20,3828101,72000,0,0,55000,0,84000,175000,2078000,2135000
12,2020-04-21,373000,1257000,0,0,133000,0,95000,1485000,5235000,5591000
13,2020-04-22,2000,3728000,0,0,34000,0,30000,100000,1036000,2505000
14,2020-04-23,399150,1281000,0,0,32000,0,136000,324000,4002000,4332000
...,...,...,...,...,...,...,...,...,...,...,...
646,2022-11-16,11480131,6750397,0,0,441000,0,1039949,680956,2922259,1341104
647,2022-11-17,3064270,1404000,0,0,200000,0,102000,146000,3846516,811890
648,2022-11-18,3742324,1199500,0,0,0,0,79110,116418,3079421,2280919
649,2022-11-21,3222717,1554416,0,0,0,0,502000,72091,1014987,3048666
650,2022-11-22,2993281,199537,0,0,0,0,55499,54009,1116200,332779
651,2022-11-23,3027521,1425150,0,0,0,0,120000,151000,2121207,526869
652,2022-11-24,8650168,5208044,0,0,0,0,314995,34000,1380960,2581757
653,2022-11-25,9502166,2397965,0,0,0,0,57000,215000,307850,6867981
654,2022-11-28,2116709,2963883,0,0,0,0,473000,390633,2005994,3305342
655,2022-11-29,3912891,1563824,0,0,100000,0,8894,41495,3153256,230532
656,2022-11-30,6351603,172027,0,0,0,0,51564,350000,447981,5160385
657,2022-12-01,12786123,1552719,0,0,0,0,205534,1162500,1025731,13805739
658,2022-12-02,1809555,1241404,0,0,100000,0,28000,450000,381000,3046622
659,2022-12-05,7731053,1339557,0,0,0,0,31721,136000,478993,3029819
660,2022-12-06,893268,5824876,0,0,100000,0,275000,70000,1614000,1668244

In [159]:
df.tail(1)['date'][0]

'2020-04-01'

In [106]:
# 外資持股

import requests
import pandas as pd
url = "https://api.finmindtrade.com/api/v4/data"
parameter = {
    "dataset": "TaiwanStockShareholding",
    "data_id": "0050",
    "start_date": "2020-04-01"
}
data = requests.get(url, params=parameter)
data = data.json()
data = pd.DataFrame(data['data'])
data

# 國際股票編碼
# 外資尚可投資股數
# 外資持有股數
# 外資尚可投資比例
# 外資持股比例
# 外資投資上限
# 陸資投資上限
# 發行股數
# 最近一次異動申報日期
# 註

,date,stock_id,stock_name,InternationalCode,ForeignInvestmentRemainingShares,ForeignInvestmentShares,ForeignInvestmentRemainRatio,ForeignInvestmentSharesRatio,ForeignInvestmentUpperLimitRatio,ChineseInvestmentUpperLimitRatio,NumberOfSharesIssued,RecentlyDeclareDate,note
0,2020-04-01,0050,元大台灣50,TW0000050004,960256795,94743205,91.01,8.98,100.0,100.0,1055000000,2019-07-18,
1,2020-04-06,0050,元大台灣50,TW0000050004,961022795,94977205,91.00,8.99,100.0,100.0,1056000000,2019-07-18,
2,2020-04-07,0050,元大台灣50,TW0000050004,963166695,98333305,90.73,9.26,100.0,100.0,1061500000,2019-07-18,
3,2020-04-08,0050,元大台灣50,TW0000050004,963396595,98103405,90.75,9.24,100.0,100.0,1061500000,2019-07-18,
4,2020-04-09,0050,元大台灣50,TW0000050004,954713596,96786404,90.79,9.20,100.0,100.0,1051500000,2019-07-18,
5,2020-04-10,0050,元大台灣50,TW0000050004,949572596,96927404,90.73,9.26,100.0,100.0,1046500000,2019-07-18,
6,2020-04-13,0050,元大台灣50,TW0000050004,950116596,96383404,90.78,9.21,100.0,100.0,1046500000,2019-07-18,
7,2020-04-14,0050,元大台灣50,TW0000050004,947748560,98751440,90.56,9.43,100.0,100.0,1046500000,2019-07-18,
8,2020-04-15,0050,元大台灣50,TW0000050004,941577435,99922565,90.40,9.59,100.0,100.0,1041500000,2019-07-18,
9,2020-04-16,0050,元大台灣50,TW0000050004,939093435,102406565,90.16,9.83,100.0,100.0,1041500000,2019-07-18,
10,2020-04-17,0050,元大台灣50,TW0000050004,920165720,118334280,88.60,11.39,100.0,100.0,1038500000,2019-07-18,
11,2020-04-20,0050,元大台灣50,TW0000050004,916409619,122090381,88.24,11.75,100.0,100.0,1038500000,2019-07-18,
12,2020-04-21,0050,元大台灣50,TW0000050004,917293619,121206381,88.32,11.67,100.0,100.0,1038500000,2019-07-18,
13,2020-04-22,0050,元大台灣50,TW0000050004,916519619,104980381,89.72,10.27,100.0,100.0,1021500000,2019-07-18,
14,2020-04-23,0050,元大台灣50,TW0000050004,916801469,104698531,89.75,10.24,100.0,100.0,1021500000,2019-07-18,
...,...,...,...,...,...,...,...,...,...,...,...,...,...
649,2022-11-15,0050,元大台灣50,TW0000050004,2177439294,112060706,95.10,4.89,100.0,100.0,2289500000,2022-07-08,
650,2022-11-16,0050,元大台灣50,TW0000050004,2183679560,106820440,95.33,4.66,100.0,100.0,2290500000,2022-07-08,
651,2022-11-17,0050,元大台灣50,TW0000050004,2184252290,106247710,95.36,4.63,100.0,100.0,2290500000,2022-07-08,
652,2022-11-18,0050,元大台灣50,TW0000050004,2182009466,108490534,95.26,4.73,100.0,100.0,2290500000,2022-07-08,
653,2022-11-21,0050,元大台灣50,TW0000050004,2175623165,109876835,95.19,4.80,100.0,100.0,2285500000,2022-07-08,
654,2022-11-22,0050,元大台灣50,TW0000050004,2179613421,105886579,95.36,4.63,100.0,100.0,2285500000,2022-07-08,
655,2022-11-23,0050,元大台灣50,TW0000050004,2178015050,107484950,95.29,4.70,100.0,100.0,2285500000,2022-07-08,
656,2022-11-24,0050,元大台灣50,TW0000050004,2173587926,117412074,94.87,5.12,100.0,100.0,2291000000,2022-07-08,
657,2022-11-25,0050,元大台灣50,TW0000050004,2166539725,124460275,94.56,5.43,100.0,100.0,2291000000,2022-07-08,
658,2022-11-28,0050,元大台灣50,TW0000050004,2168386899,123613101,94.60,5.39,100.0,100.0,2292000000,2022-07-08,
659,2022-11-29,0050,元大台灣50,TW0000050004,2173037832,125962168,94.52,5.47,100.0,100.0,2299000000,2022-07-08,
660,2022-11-30,0050,元大台灣50,TW0000050004,2161858256,137141744,94.03,5.96,100.0,100.0,2299000000,2022-07-08,
661,2022-12-01,0050,元大台灣50,TW0000050004,2155124852,148375148,93.55,6.44,100.0,100.0,2303500000,2022-07-08,
662,2022-12-02,0050,元大台灣50,TW0000050004,2161656701,144843299,93.72,6.27,100.0,100.0,2306500000,2022-07-08,
663,2022-12-05,0050,元大台灣50,TW0000050004,2156991205,151008795,93.45,6.54,100.0,100.0,2308000000,2022-07-08,

In [173]:
# 股東持股分級

import requests
import pandas as pd
url = "https://api.finmindtrade.com/api/v4/data"
parameter = {
    "dataset": "TaiwanStockHoldingSharesPer",
    "data_id": "2330",
    "start_date": "2020-04-01",
}
data = requests.get(url, params=parameter)
data = data.json()
data = pd.DataFrame(data['data'])
data

# 持股分級 人數 比例 股數

            date stock_id   HoldingSharesLevel   people  percent         unit
0     2020-04-01     2330                1-999   165122     0.12     33289900
1     2020-04-01     2330          1,000-5,000   227692     1.69    440404454
2     2020-04-01     2330        10,001-15,000    10408     0.49    128127693
3     2020-04-01     2330      100,001-200,000     1628     0.86    225202876
4     2020-04-01     2330        15,001-20,000     5068     0.34     89929303
5     2020-04-01     2330        20,001-30,000     5103     0.48    125098477
6     2020-04-01     2330      200,001-400,000     1075     1.14    296034771
7     2020-04-01     2330        30,001-40,000     2414     0.32     84090970
8     2020-04-01     2330        40,001-50,000     1499     0.26     67717340
9     2020-04-01     2330      400,001-600,000      466     0.88    229093139
10    2020-04-01     2330         5,001-10,000    29733     0.83    217417547
11    2020-04-01     2330       50,001-100,000     2893     0.78    202958406
12    2020-04-01     2330      600,001-800,000      263     0.70    181823101
13    2020-04-01     2330    800,001-1,000,000      187     0.64    167680183
14    2020-04-01     2330  more than 1,000,001     1446    90.40  23441512298
...          ...      ...                  ...      ...      ...          ...
2270  2022-12-02     2330         5,001-10,000    51812     1.44    375767778
2271  2022-12-02     2330        10,001-15,000    16814     0.80    207804113
2272  2022-12-02     2330        15,001-20,000     7865     0.53    139415237
2273  2022-12-02     2330        20,001-30,000     7406     0.70    181933489
2274  2022-12-02     2330        30,001-40,000     3443     0.46    119855162
2275  2022-12-02     2330        40,001-50,000     1995     0.34     90170583
2276  2022-12-02     2330       50,001-100,000     3809     1.02    266329897
2277  2022-12-02     2330      100,001-200,000     1963     1.04    271666389
2278  2022-12-02     2330      200,001-400,000     1149     1.25    324212343
2279  2022-12-02     2330      400,001-600,000      476     0.89    231492861
2280  2022-12-02     2330      600,001-800,000      303     0.80    209953741
2281  2022-12-02     2330    800,001-1,000,000      210     0.72    188840201
2282  2022-12-02     2330  more than 1,000,001     1481    85.94  22285220838
2283  2022-12-02     2330           差異數調整（說明4）        2     0.00        11000
2284  2022-12-02     2330                total  1433721   100.00  25930380458

[2285 rows x 6 columns]

In [174]:
# 除權息結果表

import requests
import pandas as pd
url = "https://api.finmindtrade.com/api/v4/data"
parameter = {
    "dataset": "TaiwanStockDividendResult",
    "data_id": "0050",
    "start_date": "2016-01-01",
}
data = requests.get(url, params=parameter)
data = data.json()
data = pd.DataFrame(data['data'])
data

# 除權息前收盤價 除權息後收盤價 權息值 權/息 漲停價格 跌停價格 開盤價 減除股利參考價

,date,stock_id,before_price,after_price,stock_and_cache_dividend,stock_or_cache_dividend,max_price,min_price,open_price,reference_price
0,2016-07-28,0050,69.70,68.85,0.85,息,75.70,62.00,68.85,68.85
1,2017-02-08,0050,73.30,71.60,1.70,息,78.75,64.45,71.60,71.60
2,2017-07-31,0050,82.10,81.40,0.70,息,89.50,73.30,81.40,81.40
3,2018-01-29,0050,87.50,85.30,2.20,息,93.80,76.80,85.30,85.30
4,2018-07-23,0050,84.65,83.95,0.70,息,92.30,75.60,83.95,83.95
5,2019-01-22,0050,76.50,74.20,2.30,息,81.60,66.80,74.20,74.20
6,2019-07-19,0050,82.70,82.00,0.70,息,90.20,73.80,82.00,82.00
7,2020-01-31,0050,92.15,89.25,2.90,息,98.15,80.35,89.25,89.25
8,2020-07-21,0050,97.05,96.35,0.70,息,105.95,86.75,96.35,96.35
9,2021-01-22,0050,143.00,139.95,3.05,息,153.90,126.00,139.95,139.95
10,2021-07-21,0050,137.20,136.85,0.35,息,150.50,123.20,136.85,136.85
11,2022-01-21,0050,149.10,145.90,3.20,息,160.45,131.35,145.90,145.90
12,2022-07-18,0050,115.50,113.70,1.80,息,125.05,102.35,113.70,113.70

In [176]:
data.loc[:, ['date', 'stock_and_cache_dividend']]

          date  stock_and_cache_dividend
0   2016-07-28                      0.85
1   2017-02-08                      1.70
2   2017-07-31                      0.70
3   2018-01-29                      2.20
4   2018-07-23                      0.70
5   2019-01-22                      2.30
6   2019-07-19                      0.70
7   2020-01-31                      2.90
8   2020-07-21                      0.70
9   2021-01-22                      3.05
10  2021-07-21                      0.35
11  2022-01-21                      3.20
12  2022-07-18                      1.80

In [183]:
# 月營收表

import requests
import pandas as pd
url = "https://api.finmindtrade.com/api/v4/data"
parameter = {
    "dataset": "TaiwanStockMonthRevenue",
    "data_id": "2330",
    "start_date": "2019-01-01",
}
data = requests.get(url, params=parameter)
data = data.json()
data = pd.DataFrame(data['data'])
data

          date stock_id country       revenue  revenue_month  revenue_year
0   2019-01-01     2330  Taiwan   89830598000             12          2018
1   2019-02-01     2330  Taiwan   78093827000              1          2019
2   2019-03-01     2330  Taiwan   60889055000              2          2019
3   2019-04-01     2330  Taiwan   79721587000              3          2019
4   2019-05-01     2330  Taiwan   74693615000              4          2019
5   2019-06-01     2330  Taiwan   80436931000              5          2019
6   2019-07-01     2330  Taiwan   85867929000              6          2019
7   2019-08-01     2330  Taiwan   84757724000              7          2019
8   2019-09-01     2330  Taiwan  106117619000              8          2019
9   2019-10-01     2330  Taiwan  102170096000              9          2019
10  2019-11-01     2330  Taiwan  106039531000             10          2019
11  2019-12-01     2330  Taiwan  107884396000             11          2019
12  2020-01-01     2330  Taiwan  103313138000             12          2019
13  2020-02-01     2330  Taiwan  103683135000              1          2020
14  2020-03-01     2330  Taiwan   93394449000              2          2020
15  2020-04-01     2330  Taiwan  113519599000              3          2020
16  2020-05-01     2330  Taiwan   96001572000              4          2020
17  2020-06-01     2330  Taiwan   93819010000              5          2020
18  2020-07-01     2330  Taiwan  120877785000              6          2020
19  2020-08-01     2330  Taiwan  105963468000              7          2020
20  2020-09-01     2330  Taiwan  122878244000              8          2020
21  2020-10-01     2330  Taiwan  127584492000              9          2020
22  2020-11-01     2330  Taiwan  119302707000             10          2020
23  2020-12-01     2330  Taiwan  124865438000             11          2020
24  2021-01-01     2330  Taiwan  117364912000             12          2020
25  2021-02-01     2330  Taiwan  126749152000              1          2021
26  2021-03-01     2330  Taiwan  106533690000              2          2021
27  2021-04-01     2330  Taiwan  129127388000              3          2021
28  2021-05-01     2330  Taiwan  111314794000              4          2021
29  2021-06-01     2330  Taiwan  112359668000              5          2021
30  2021-07-01     2330  Taiwan  148470660000              6          2021
31  2021-08-01     2330  Taiwan  124557799000              7          2021
32  2021-09-01     2330  Taiwan  137427162000              8          2021
33  2021-10-01     2330  Taiwan  152685418000              9          2021
34  2021-11-01     2330  Taiwan  134539477000             10          2021
35  2021-12-01     2330  Taiwan  148267599000             11          2021
36  2022-01-01     2330  Taiwan  155382230000             12          2021
37  2022-02-01     2330  Taiwan  172176110000              1          2022
38  2022-03-01     2330  Taiwan  146933238000              2          2022
39  2022-04-01     2330  Taiwan  171966525000              3          2022
40  2022-05-01     2330  Taiwan  172561382000              4          2022
41  2022-06-01     2330  Taiwan  185705425000              5          2022
42  2022-07-01     2330  Taiwan  175874001000              6          2022
43  2022-08-01     2330  Taiwan  186762689000              7          2022
44  2022-09-01     2330  Taiwan  218132391000              8          2022
45  2022-10-01     2330  Taiwan  208247663000              9          2022
46  2022-11-01     2330  Taiwan  210265633000             10          2022

In [40]:
url = "https://api.finmindtrade.com/api/v4/data"
parameter = {
    "dataset": "TaiwanStockNews",
    "data_id":"2330",
    "start_date": "2020-04-01",
    "end_date": "2022-12-01",
}
data = requests.get(url, params=parameter)
data = data.json()
data = pd.DataFrame(data['data'])
data

,date,stock_id,link,source,title
0,2020-07-28 07:00:00,2330,https://udn.com/news/story/7251/4736351,UDN 聯合新聞網,強震440點！台積電漲停後爆量拉回 拖累台股盤中翻黑 - UDN 聯合新聞網
1,2020-08-20 07:00:00,2330,https://money.udn.com/money/story/12509/4795998,經濟日報,台積電（2330）股價下滑 21元報價406.5元 - 經濟日報
2,2020-09-08 07:00:00,2330,https://money.udn.com/money/story/12040/4833850,經濟日報,台積電長多短空！分析師：跌破400元可找買點 - 經濟日報
3,2020-10-07 07:00:00,2330,https://udn.com/news/story/7251/4916333,UDN 聯合新聞網,外資喊買台積電 目標價上調到600元 - UDN 聯合新聞網
4,2020-10-07 07:00:00,2330,https://ctee.com.tw/news/stock/347848.html,工商時報,台積電法說15日登場法人提四大看點 - 工商時報
...,...,...,...,...,...
16313,2022-11-30 11:05:17,2330,https://news.google.com/__i/rss/rd/articles/CB...,數位時代,劉德音：台灣還有5萬多位台積電工程師！為何說「只怕台灣人不出去」？｜數位時代Business...
16314,2022-11-30 14:52:56,2330,https://news.google.com/__i/rss/rd/articles/CB...,經濟日報,拜登將出席台積電亞利桑那新廠上機典禮 - 經濟日報
16315,2022-11-30 16:02:00,2330,https://news.google.com/__i/rss/rd/articles/CB...,Yahoo奇摩新聞,專訪｜張鈞甯受封女股神無奈喊「差遠了」 台積電沒半張買房抗通膨 - Yahoo奇摩新聞
16316,2022-11-30 22:55:20,2330,https://news.google.com/__i/rss/rd/articles/CB...,經濟日報,台積電ADR大漲4.6% 較台北交易溢價4.4% 11月飆漲34.8% - 經濟日報
16317,2022-11-30 23:35:30,2330,https://news.google.com/__i/rss/rd/articles/CB...,MSN,拜登擬參觀台積電亞利桑那州工廠，台積電ADR週三漲4.6%，月線飆35% - MSN

In [186]:
# 個股資料整合
import os
import time
import datetime
import pandas as pd
pd.set_option('display.min_rows', 30)


# 查詢台股 分類 名稱 代碼
today = datetime.date.today()
url = "https://api.finmindtrade.com/api/v4/data"
parameter = {"dataset": "TaiwanStockInfo"}
resp = requests.get(url, params=parameter)
data = resp.json()
overall = pd.DataFrame(data["data"])

# 建立台股分類資料夾與csv
for index, row in overall.iterrows():
    category = row['industry_category']
    path = '/Users/leo/Desktop/python_project/stock/'
    if not os.path.isdir(path + category):
        os.mkdir(path + category)
    filename = row['stock_id'] + '_' + row['stock_name']
    if not os.path.exists(path + category + '/' + filename + '.csv'):
        f = open(path + category + '/' + filename + '.csv', 'w')
        f.close()
        
    # 整理個股資料 (stock = 整合資料表)
    
    # 先用台積電測試
    if row['stock_id'] != '2330':
        continue
    
    # 1. 個股每日價格
    url = "https://api.finmindtrade.com/api/v4/data"
    parameter = {
        "dataset": "TaiwanStockPrice",
        "data_id": row['stock_id'],
        "start_date": "2012-01-01"
    }
    resp = requests.get(url, params=parameter)
    data = resp.json()
    if data['data'] == []:
        print('＃個股每日價格 無資料')
    else:
        stock = pd.DataFrame(data['data'])
        
    # 2. 殖利率 本益比 股價淨值比
    url = "https://api.finmindtrade.com/api/v4/data"
    parameter = {
        "dataset": "TaiwanStockPER",
        "data_id": row['stock_id'],
        "start_date": "2012-01-01"
    }
    resp = requests.get(url, params=parameter)
    data = resp.json()
    if data['data'] == []:
        print('＃殖利率 本益比 股價淨值比 無資料')
    else:
        stockper = pd.DataFrame(data['data'])
        stockper.drop('stock_id', axis='columns', inplace=True)
        # 合併資料表
        stock = pd.merge(stock, stockper, on='date', how='left')
        
    # 當沖
    url = "https://api.finmindtrade.com/api/v4/data"
    parameter = {
        "dataset": "TaiwanStockDayTrading",
        "data_id": row['stock_id'],
        "start_date": "2012-01-01"
    }
    resp = requests.get(url, params=parameter)
    data = resp.json()
    if data['data'] == []:
        print('＃當沖 無資料')
    else:
        stockdaytrading = pd.DataFrame(data['data'])
        stockdaytrading.drop('stock_id', axis='columns', inplace=True)
        # 合併資料表
        stock = pd.merge(stock, stockdaytrading, on='date', how='left')
        
    # 融資融券
    url = "https://api.finmindtrade.com/api/v4/data"
    parameter = {
        "dataset": "TaiwanStockMarginPurchaseShortSale",
        "data_id": row['stock_id'],
        "start_date": "2012-01-01"
    }
    resp = requests.get(url, params=parameter)
    data = resp.json()
    if data['data'] == []:
        print('＃融資融券 無資料')
    else:
        stockmargin = pd.DataFrame(data['data'])
        stockmargin.drop('stock_id', axis='columns', inplace=True)
        # 合併資料表
        stock = pd.merge(stock, stockmargin, on='date', how='left')
        
    # 法人買賣
    url = "https://api.finmindtrade.com/api/v4/data"
    parameter = {
        "dataset": "TaiwanStockInstitutionalInvestorsBuySell",
        "data_id": row['stock_id'],
        "start_date": "2012-01-01"
    }
    resp = requests.get(url, params=parameter)
    data = resp.json()
    if data['data'] == []:
        print('＃法人買賣 無資料')
    else:
        data = pd.DataFrame(data['data'])
        
        # 把法人買賣格式做轉換，程式寫有夠醜，但懶得改
        df = pd.DataFrame(columns = ['date', 'FI_buy', 'FI_sell', 'FDS_buy', 'FDS_sell', 'IT_buy', 'IT_sell', 'DS_buy', 'DS_sell', 'DH_buy', 'DH_sell'])
        lastdate = ''
        for index, row in data.iterrows():
            if not df.empty:

                # 同一天
                if row['date'] == lastdate:
                    lastrow = len(df.index) - 1
                    if row['name'] == 'Foreign_Investor':
                        df.loc[lastrow, 'FI_buy'] = row['buy']
                        df.loc[lastrow, 'FI_sell'] = row['sell']
                    elif row['name'] == 'Foreign_Dealer_Self':
                        df.loc[lastrow, 'FDS_buy'] = row['buy']
                        df.loc[lastrow, 'FDS_sell'] = row['sell']
                    elif row['name'] == 'Investment_Trust':
                        df.loc[lastrow, 'IT_buy'] = row['buy']
                        df.loc[lastrow, 'IT_sell'] = row['sell']
                    elif row['name'] == 'Dealer_self' or row['name'] == 'Dealer':
                        df.loc[lastrow, 'DS_buy'] = row['buy']
                        df.loc[lastrow, 'DS_sell'] = row['sell']
                    elif row['name'] == 'Dealer_Hedging':
                        df.loc[lastrow, 'DH_buy'] = row['buy']
                        df.loc[lastrow, 'DH_sell'] = row['sell']
                    else:
                        print('＃意料外的法人買賣選項')

                # 新的一天
                else:
                    fi_b, fi_s, fds_b, fds_s, it_b, it_s, ds_b, ds_s, dh_b, dh_s = 0, 0, 0, 0, 0, 0, 0, 0, 0, 0
                    if row['name'] == 'Foreign_Investor':
                        fi_b = row['buy']
                        fi_s = row['sell']
                    elif row['name'] == 'Foreign_Dealer_Self':
                        fds_b = row['buy']
                        fds_s = row['sell']
                    elif row['name'] == 'Investment_Trust':
                        it_b = row['buy']
                        it_s = row['sell']
                    elif row['name'] == 'Dealer_self' or row['name'] == 'Dealer':
                        ds_b = row['buy']
                        ds_s = row['sell']
                    elif row['name'] == 'Dealer_Hedging':
                        dh_b = row['buy']
                        dh_s = row['sell']
                    else:
                        print('＃意料外的法人買賣選項')

                    lastdate = row['date']
                    s = [row['date'], fi_b, fi_s, fds_b, fds_s, it_b, it_s, ds_b, ds_s, dh_b, dh_s]
                    df.loc[len(df.index)] = s

            # 空資料表直接插入第一筆
            else:
                fi_b, fi_s, fds_b, fds_s, it_b, it_s, ds_b, ds_s, dh_b, dh_s = 0, 0, 0, 0, 0, 0, 0, 0, 0, 0
                if row['name'] == 'Foreign_Investor':
                    fi_b = row['buy']
                    fi_s = row['sell']
                elif row['name'] == 'Foreign_Dealer_Self':
                    fds_b = row['buy']
                    fds_s = row['sell']
                elif row['name'] == 'Investment_Trust':
                    it_b = row['buy']
                    it_s = row['sell']
                elif row['name'] == 'Dealer_self' or row['name'] == 'Dealer':
                    ds_b = row['buy']
                    ds_s = row['sell']
                elif row['name'] == 'Dealer_Hedging':
                    dh_b = row['buy']
                    dh_s = row['sell']
                else:
                    print('＃意料外的法人買賣選項')

                lastdate = row['date']
                s = [row['date'], fi_b, fi_s, fds_b, fds_s, it_b, it_s, ds_b, ds_s, dh_b, dh_s]
                df.loc[len(df.index)] = s
                
        # 合併資料表
        stock = pd.merge(stock, df, on='date', how='left')
        
    # 除權息結果表
    url = "https://api.finmindtrade.com/api/v4/data"
    parameter = {
        "dataset": "TaiwanStockDividendResult",
        "data_id": row['stock_id'],
        "start_date": "2012-01-01"
    }
    resp = requests.get(url, params=parameter)
    data = resp.json()
    if data['data'] == []:
        print('＃除權息結果表 無資料')
    else:
        stockdividend = pd.DataFrame(data['data'])
        stockdividend = stockdividend.loc[:, ['date', 'stock_and_cache_dividend']]
        # 合併資料表
        stock = pd.merge(stock, stockdividend, on='date', how='left')
        
    # 月營收表
    url = "https://api.finmindtrade.com/api/v4/data"
    parameter = {
        "dataset": "TaiwanStockMonthRevenue",
        "data_id": row['stock_id'],
        "start_date": "2012-01-01"
    }
    resp = requests.get(url, params=parameter)
    data = resp.json()
    if data['data'] == []:
        print('＃月營收表 無資料')
    else:
        stockrevenue = pd.DataFrame(data['data'])
        stockrevenue = stockrevenue.loc[:, ['date', 'revenue', 'revenue_month']]
        # 合併資料表
        stock = pd.merge(stock, stockrevenue, on='date', how='left')
    
        
    # 寫入csv
    stock.to_csv(path + category + '/' + filename + '.csv', index=False)
    
    # 延遲
    print(index, category, filename, '資料建立')
    #time.sleep(1000)

11011 半導體業 2330_台積電 資料建立
11011 電子工業 2330_台積電 資料建立

In [187]:
stock

,date,stock_id,Trading_Volume,Trading_money,open,max,min,close,spread,Trading_turnover,...,FDS_sell,IT_buy,IT_sell,DS_buy,DS_sell,DH_buy,DH_sell,stock_and_cache_dividend,revenue,revenue_month
0,2012-01-02,2330,14945219,1121673328,75.0,75.4,74.7,75.0,-0.8,3402,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2012-01-03,2330,21223640,1605206995,75.5,75.9,75.2,75.7,0.7,5659,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2012-01-04,2330,34126472,2584467506,76.1,76.1,75.5,75.8,0.1,7311,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2012-01-05,2330,28076670,2126987204,76.0,76.0,75.3,76.0,0.2,7053,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2012-01-06,2330,30123118,2269477313,75.9,75.9,74.9,75.6,-0.4,7701,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,2012-01-09,2330,27655856,2074522035,75.2,75.6,74.6,75.6,0.0,5106,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,2012-01-10,2330,62064369,4729115971,76.0,76.5,75.8,76.5,0.9,14505,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,2012-01-11,2330,44295291,3388935115,76.8,77.0,76.1,76.5,0.0,9749,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,2012-01-12,2330,55520616,4267531914,76.7,77.1,76.5,77.0,0.5,14357,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,2012-01-13,2330,57757708,4483256615,77.2,78.0,77.0,77.5,0.5,15399,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,2012-01-16,2330,37711367,2844327425,76.1,76.9,74.6,75.3,-2.2,10092,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,2012-01-17,2330,43995131,3316458851,75.9,75.9,74.9,75.6,0.3,9194,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,2012-01-18,2330,57181592,4356043463,75.9,76.7,75.6,76.7,1.1,13544,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,2012-01-30,2330,147548010,11573235542,78.0,79.5,77.2,78.7,2.0,22750,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,2012-01-31,2330,87917010,6835437530,78.1,78.5,76.3,78.5,-0.2,12126,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2670,2022-11-17,2330,46850915,22547582604,482.5,485.0,475.0,485.0,-2.0,57331,...,0.0,156000.0,244024.0,604064.0,291000.0,717442.0,124212.0,NaN,NaN,NaN
2671,2022-11-18,2330,37001332,18131673834,491.5,494.0,486.0,487.0,2.0,41694,...,0.0,81000.0,60824.0,150000.0,891000.0,455002.0,310000.0,NaN,NaN,NaN
2672,2022-11-21,2330,30609465,14843805078,487.5,489.5,480.5,482.0,-5.0,35815,...,0.0,87000.0,73000.0,258000.0,36000.0,773495.0,128935.0,NaN,NaN,NaN
2673,2022-11-22,2330,39329440,19112616916,476.0,491.0,476.0,491.0,9.0,40964,...,0.0,0.0,192000.0,247187.0,76977.0,482979.0,413999.0,NaN,NaN,NaN
2674,2022-11-23,2330,34752559,17111333375,494.5,496.0,488.5,492.0,1.0,32889,...,0.0,388000.0,66700.0,122000.0,114000.0,245184.0,175408.0,NaN,NaN,NaN
2675,2022-11-24,2330,28477359,14073196704,494.0,496.0,492.0,496.0,4.0,34387,...,0.0,15000.0,168000.0,359013.0,111000.0,333192.0,140000.0,NaN,NaN,NaN
2676,2022-11-25,2330,41461805,20594790238,494.0,498.0,494.0,498.0,2.0,34399,...,0.0,4000.0,142003.0,84000.0,1188000.0,70885.0,1530492.0,NaN,NaN,NaN
2677,2022-11-28,2330,40815045,19790586320,486.0,490.0,480.5,480.5,-17.5,57163,...,0.0,13000.0,561490.0,321000.0,978700.0,230998.0,748185.0,NaN,NaN,NaN
2678,2022-11-29,2330,40266315,19374604221,473.5,488.0,473.0,487.0,6.5,35929,...,0.0,23000.0,55483.0,488000.0,500000.0,328000.0,502712.0,NaN,NaN,NaN
2679,2022-11-30,2330,60728041,29643130386,483.0,490.0,482.5,490.0,3.0,25325,...,0.0,76000.0,139860.0,28000.0,511100.0,66981.0,550227.0,NaN,NaN,NaN
2680,2022-12-01,2330,43684491,21976936461,506.0,508.0,498.5,498.5,8.5,46181,...,0.0,456000.0,165000.0,210001.0,2236105.0,224736.0,672393.0,NaN,NaN,NaN
2681,2022-12-02,2330,29909021,14745810388,490.0,497.0,490.0,492.5,-6.0,31799,...,0.0,258000.0,165206.0,153000.0,1283300.0,185000.0,995722.0,NaN,NaN,NaN
2682,2022-12-05,2330,33048153,16272219716,491.5,497.5,489.0,489.0,-3.5,31739,...,0.0,300000.0,110000.0,643000.0,758900.0,97000.0,353898.0,NaN,NaN,NaN
2683,2022-12-06,2330,44964237,21703863181,488.0,489.0,478.0,478.0,-11.0,44448,...,0.0,94000.0,242481.0,380000.0,938200.0,258000.0,707881.0,NaN,NaN,NaN
2684,2022-12-07,2330,37372821,17886498332,477.0,485.5,475.0,475.0,-3.0,43592,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN